<%= render 'layouts/side_view'%>
<div class="recent_events">
                    <p class="heading">Forms submitted -</p>
                    <ol>
                        <% @h_events.each do |event| %>
                            <li class="event-item">
                                <div class="event-details">
                                    <%= link_to event.name, event_path(event), class: "event-name" %>
                                    <p class="event-date"><%= event.date.strftime("%B %d, %Y") %></p>
                                    
                                
                                </div>
                            </li>
                        <% end %>
                    </ol>
                </div>
