<div class="recent_events">
                    <p class="heading">Pending Tasks -</p>
                    <ol>
                        <% @p_events.each do |event| %>
                            <li>
                                <%= link_to event.name, event_path(event) %>
                            </li>
                        <% end %>
                    </ol>
                </div>