<div class="recent_events">
                    <p class="heading">Pending Tasks -</p>
                    <ol>
                        <% @p_events.each do |event| %>
                            <li>
                                <div class="task-info">
                                    <h3><%= link_to event.name, event_path(event) %></h3>
                                   
                                    
                                </div>
                            </li>
                        <% end %>
                    </ol>
                </div>
