/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  position: relative;
  z-index: 1000;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.logout-link {
  cursor:  pointer;
}
.logout-link:hover {
  background-color: #ff0224a2;
  color: #fff;
}

.recent_events {
  width: 100%;
}

.heading {
  font-weight: bold;
  margin-bottom: 10px;
}

.event-table {
  display: flex;
  flex-direction: column;
}

.event-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.event-name {
  flex-grow: 1;
}

.download-link {
  margin-left: 20px;
}

/* Load the Font Awesome icons library */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* Style the link container */
.links {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

/* Style the notification count badge */
.task-count {
  position: absolute;
  top: -3px;
  left: -3px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 12px;
}

/* Style the bell icon */
.links .fa-bell {
  font-size: 24px;
  color: black;
  text-decoration: none;
}
/* */

.event-history table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.event-history th, .event-history td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.event-history th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
}

.event-history tr:nth-child(even) {
  background-color: #f9f9f9;
}

.event-history tr:hover {
  background-color: #f1f1f1;
}

.event-history .show-btn {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
}

.event-history .show-btn:hover {
  background-color: #0056b3;
}