<!-- app/views/layouts/_alert.html.erb -->
<% if notice %>
<<<<<<< HEAD
 <div class="alert alert-success" id="alert">
=======
 <div class="alert alert-success notice-alert" id="notice-alert" data-delay="0000">
>>>>>>> 39419af (testing)
    <%= notice %>
      <script>
        // Use setTimeout to hide the alert after 2 seconds
        setTimeout(function() {
          var alertElement = document.getElementById("alert");
          if (alertElement) {
            alertElement.style.display = "none";
          }
        }, 2000); // 2000 milliseconds = 2 seconds
      </script>
 </div>
<% end %>

<% if alert %>
<<<<<<< HEAD
 <div class="alert alert-danger" id="alert">
=======
 <div class="alert alert-danger alert-alert" id="alert-alert" data-delay="0000">
>>>>>>> 39419af (testing)
    <%= alert %>
      <script>
        setTimeout(function() {
          var alertElement = document.getElementById("alert");
          if (alertElement) {
            alertElement.style.display = "none";
          }
        }, 2000); // 2000 milliseconds = 2 seconds
      </script>
 </div>
<% end %>
<script>
function hideAlert(alertId) {
    var alertElement = document.getElementById(alertId);
    if (alertElement) {
        setTimeout(function() {
            alertElement.style.display = 'none';
        }, alertElement.getAttribute('data-delay'));
    }
}
</script>
